<div class="mx-auto" style="width: 80%;">
  <div class="card shadow">
    <div class="card-header">
        <h1>Editar Moroso</h1>    
    </div>
    <div class="card-body">
        <%= render "form", moroso: @moroso %>
    </div>
  </div>
</div> 






